body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* NAVBAR */
.navbar {
  height: 60px;
  background: #6c7589;
  color: rgb(7, 3, 3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

/* DASHBOARD LAYOUT */
.dashboard-body {
  display: flex;
  height: calc(100vh - 60px);
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  background: #1f2937;
  color: white;
  padding: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px 0;
  cursor: pointer;
}

/* MAIN CONTENT */
.dashboard-content {
  flex: 1;
  padding: 40px;
  background: #f3f4f6;
}

/* CARDS */
.cards {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 200px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
